@import url('../variables.css');
.post {
    background-color: var(--white-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post h2 {
    margin: 0 0 1rem 0;
}
.post p {
    margin: 0 0 1rem 0;
}
.post time {
    color: var(--text-color);
}
.post-button {
    position: fixed;
    bottom: 20px;
    right: 80px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}